.nav-section {
  display: flex;
  justify-content: space-between;
  margin:50px 50px 10px 50px;
}

.nav-section img {
  cursor: pointer;
}

.left-button-area{
  display: flex;
  width:300px;
}

.left-button-area div{
  margin-right:15px;
  cursor: pointer;
}

.right-button-area{
  display: flex;
  width:300px;
  justify-content: flex-end;
}

.login-button {
  display: flex;
  cursor: pointer;
  margin-right:20px;
}

.login-button div {
  margin-left : 5px;
}

.like-button {
  display: flex;
  cursor: pointer;
}

.login-button div {
  margin-left : 5px;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  margin: 10px 20px 5px 20px;
  cursor: pointer;
  font-weight: 600;
}

.menu-list li:hover {
  border-bottom: 1px solid black;
}

.menu-area {
  display: flex;
  justify-content: center;
  margin : 20px 10px;
}

.search-area {
  border-bottom: 1px solid black;
  position: absolute;
  right: 50px;
  padding: 5px;
}
.search-area input {
  border: none;
  margin-left: 5px;
}
.search-area input:focus {
  outline: none;
}

.ad-area {
  display: flex;
  justify-content: center;
  margin-bottom : 30px;
}

.card-area {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  margin-bottom : 15px;
  cursor: pointer;
  transform: scale(1.0);
  transition: transform .2s;
}

.card-area:hover {
  transform: scale(1.05);
  transition: transform .2s; 
}

.footer-area {
  background-color:#E4E4E4;
  margin-top:50px;
}